<main class="container w-full text-black mx-auto">
  <div class="w-full flex justify-center items-stretch">
    <div
      class="flex-5 min-h-screen bg-neutral-50 flex justify-center items-center px-1 py-2 md:px-4 md:py-8"
    >
      <div class="w-full max-w-210">
        <div
          class="w-full flex flex-col justify-center items-center gap-large md:gap-3xl relative space-y-"
        >
          <div
            class="w-full flex flex-col justify-center items-center gap-2 md:gap-4"
          >
            <div class="flex gap-4 items-center">
              <a
                class="bg-primary-500 main-color px-4 flex select-none py-2"
                routerLink="/home"
                ><img
                  alt="CellphoneS"
                  title="CellphoneS"
                  loading="lazy"
                  width="156"
                  height="26"
                  decoding="async"
                  data-nimg="1"
                  class="object-contain"
                  src="https://cdn-static.smember.com.vn/_next/static/media/cellphones-long-icon.6a80e2a6.svg"
              /></a>
              <a
                class="bg-primary-500 main-color px-4 flex select-none py-2"
                href="#"
                ><img
                  alt="Điện thoại vui"
                  title="Điện thoại vui"
                  loading="lazy"
                  width="137"
                  height="26"
                  decoding="async"
                  data-nimg="1"
                  class="object-contain"
                  src="https://cdn-static.smember.com.vn/_next/static/media/dtv-long-icon.40a11e1d.svg"
              /></a>
            </div>
            <div
              class="flex flex-col items-center justify-center gap-y-2 text-base md:text-xl lg:text-2xl font-base"
            >
              <span class="text-center"
                >Nhập hội khách hàng thành viên
                <span
                  class="main-text-color align-middle font-bold text-1xl md:text-3xl lg:text-4xl main-text-color"
                  >SMEMBER</span
                ></span
              ><span class="text-center"
                >Để không bỏ lỡ các ưu đãi hấp dẫn từ CellphoneS</span
              >
            </div>
          </div>
          <div class="w-full max-w-[100] md:max-w-[150] mt-2 md:mt-6">
            <div class="w-full h-fit min-w-[35] min-h-[35] relative">
              <div
                class="select-none pointer-events-none w-17.5 h-17.5 border-t-[1.5] border-l-[1.5] border-primary-500 z-1 rounded-tl-[25px] bg-transparent absolute -top-0.75 -left-0.75"
              >
                <div
                  class="h-[1.5] w-[1.5] rounded-full bg-primary-500 absolute -bottom-0.75 left-[-1.5]"
                ></div>
                <div
                  class="h-[1.5] w-[1.5] rounded-full bg-primary-500 absolute top-[-1.5] -right-0.75"
                ></div>
              </div>
              <div
                class="select-none pointer-events-none w-17.5 h-17.5 border-t-[1.5] border-r-[1.5] border-primary-500 z-1 rounded-tr-[25px] bg-transparent absolute -top-0.75 -right-0.75"
              >
                <div
                  class="h-[1.5] w-[1.5] rounded-full bg-primary-500 absolute top-[-1.5] -left-0.75"
                ></div>
                <div
                  class="h-[1.5] w-[1.5] rounded-full bg-primary-500 absolute -bottom-0.75 right-[-1.5]"
                ></div>
              </div>
              <div
                class="select-none pointer-events-none w-17.5 h-17.5 border-b-[1.5] border-l-[1.5] border-primary-500 z-1 rounded-bl-[25px] bg-transparent absolute -bottom-0.75 -left-0.75"
              >
                <div
                  class="h-[1.5] w-[1.5] rounded-full bg-primary-500 absolute -top-0.75 left-[-1.5]"
                ></div>
                <div
                  class="h-[1.5] w-[1.5] rounded-full bg-primary-500 absolute -bottom-1.5 -right-0.75"
                ></div>
              </div>
              <div
                class="select-none pointer-events-none w-17.5 h-17.5 border-b-[1.5] border-r-[1.5] border-primary-500 z-1 rounded-br-[25px] bg-transparent absolute -bottom-0.75 -right-0.75"
              >
                <div
                  class="h-[1.5] w-[1.5] rounded-full bg-primary-500 absolute -bottom-1.5 -left-0.75"
                ></div>
                <div
                  class="h-[1.5] w-[1.5] rounded-full bg-primary-500 absolute -top-0.75 right-[-1.5]"
                ></div>
              </div>
              <div
                class="min-h-50 relative w-full text-small md:text-base h-full p-4 md:p-3xl overflow-hidden rounded-[25px]"
              >
                <img
                  alt="Pattern"
                  title="Pattern"
                  loading="lazy"
                  width="400"
                  height="270"
                  decoding="async"
                  data-nimg="1"
                  class="object-contain z-0 max-w-[100] max-h-[67.5] w-[70%] absolute top-0 right-0 select-none pointer-events-none"
                  src="https://cdn-static.smember.com.vn/_next/static/media/promotion-smember.088823eb.png"
                />
                <div class="w-full flex flex-col gap-2 md:gap-small relative">
                  <div class="w-full flex gap-2 items-center">
                    <svg
                      stroke="currentColor"
                      fill="currentColor"
                      stroke-width="0"
                      viewBox="0 0 24 24"
                      class="main-text-color text-2xl shrink-0"
                      height="1em"
                      width="1em"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M11 14v8h-4a3 3 0 0 1 -3 -3v-4a1 1 0 0 1 1 -1h6zm8 0a1 1 0 0 1 1 1v4a3 3 0 0 1 -3 3h-4v-8h6zm-2.5 -12a3.5 3.5 0 0 1 3.163 5h.337a2 2 0 0 1 2 2v1a2 2 0 0 1 -2 2h-7v-5h-2v5h-7a2 2 0 0 1 -2 -2v-1a2 2 0 0 1 2 -2h.337a3.486 3.486 0 0 1 -.337 -1.5c0 -1.933 1.567 -3.5 3.483 -3.5c1.755 -.03 3.312 1.092 4.381 2.934l.136 .243c1.033 -1.914 2.56 -3.114 4.291 -3.175l.209 -.002zm-9 2a1.5 1.5 0 0 0 0 3h3.143c-.741 -1.905 -1.949 -3.02 -3.143 -3zm8.983 0c-1.18 -.02 -2.385 1.096 -3.126 3h3.143a1.5 1.5 0 1 0 -.017 -3z"
                      ></path>
                    </svg>
                    <div class="">
                      <strong>Chiết khấu đến 5%</strong> khi mua các sản phẩm
                      mua tại CellphoneS
                    </div>
                  </div>
                  <div class="w-full flex gap-2 items-center">
                    <svg
                      stroke="currentColor"
                      fill="currentColor"
                      stroke-width="0"
                      viewBox="0 0 24 24"
                      class="main-text-color text-2xl shrink-0"
                      height="1em"
                      width="1em"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M11 14v8h-4a3 3 0 0 1 -3 -3v-4a1 1 0 0 1 1 -1h6zm8 0a1 1 0 0 1 1 1v4a3 3 0 0 1 -3 3h-4v-8h6zm-2.5 -12a3.5 3.5 0 0 1 3.163 5h.337a2 2 0 0 1 2 2v1a2 2 0 0 1 -2 2h-7v-5h-2v5h-7a2 2 0 0 1 -2 -2v-1a2 2 0 0 1 2 -2h.337a3.486 3.486 0 0 1 -.337 -1.5c0 -1.933 1.567 -3.5 3.483 -3.5c1.755 -.03 3.312 1.092 4.381 2.934l.136 .243c1.033 -1.914 2.56 -3.114 4.291 -3.175l.209 -.002zm-9 2a1.5 1.5 0 0 0 0 3h3.143c-.741 -1.905 -1.949 -3.02 -3.143 -3zm8.983 0c-1.18 -.02 -2.385 1.096 -3.126 3h3.143a1.5 1.5 0 1 0 -.017 -3z"
                      ></path>
                    </svg>
                    <div class="">
                      <strong>Miễn phí giao hàng</strong> cho thành viên SMEM,
                      SVIP và cho đơn hàng từ 300.000đ
                    </div>
                  </div>
                  <div class="w-full flex gap-2 items-center">
                    <svg
                      stroke="currentColor"
                      fill="currentColor"
                      stroke-width="0"
                      viewBox="0 0 24 24"
                      class="main-text-color text-2xl shrink-0"
                      height="1em"
                      width="1em"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M11 14v8h-4a3 3 0 0 1 -3 -3v-4a1 1 0 0 1 1 -1h6zm8 0a1 1 0 0 1 1 1v4a3 3 0 0 1 -3 3h-4v-8h6zm-2.5 -12a3.5 3.5 0 0 1 3.163 5h.337a2 2 0 0 1 2 2v1a2 2 0 0 1 -2 2h-7v-5h-2v5h-7a2 2 0 0 1 -2 -2v-1a2 2 0 0 1 2 -2h.337a3.486 3.486 0 0 1 -.337 -1.5c0 -1.933 1.567 -3.5 3.483 -3.5c1.755 -.03 3.312 1.092 4.381 2.934l.136 .243c1.033 -1.914 2.56 -3.114 4.291 -3.175l.209 -.002zm-9 2a1.5 1.5 0 0 0 0 3h3.143c-.741 -1.905 -1.949 -3.02 -3.143 -3zm8.983 0c-1.18 -.02 -2.385 1.096 -3.126 3h3.143a1.5 1.5 0 1 0 -.017 -3z"
                      ></path>
                    </svg>
                    <div class="">
                      <strong>Tặng voucher sinh nhật đến 500.000đ</strong> cho
                      khách hàng thành viên
                    </div>
                  </div>
                  <div class="w-full flex gap-2 items-center">
                    <svg
                      stroke="currentColor"
                      fill="currentColor"
                      stroke-width="0"
                      viewBox="0 0 24 24"
                      class="main-text-color text-2xl shrink-0"
                      height="1em"
                      width="1em"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M11 14v8h-4a3 3 0 0 1 -3 -3v-4a1 1 0 0 1 1 -1h6zm8 0a1 1 0 0 1 1 1v4a3 3 0 0 1 -3 3h-4v-8h6zm-2.5 -12a3.5 3.5 0 0 1 3.163 5h.337a2 2 0 0 1 2 2v1a2 2 0 0 1 -2 2h-7v-5h-2v5h-7a2 2 0 0 1 -2 -2v-1a2 2 0 0 1 2 -2h.337a3.486 3.486 0 0 1 -.337 -1.5c0 -1.933 1.567 -3.5 3.483 -3.5c1.755 -.03 3.312 1.092 4.381 2.934l.136 .243c1.033 -1.914 2.56 -3.114 4.291 -3.175l.209 -.002zm-9 2a1.5 1.5 0 0 0 0 3h3.143c-.741 -1.905 -1.949 -3.02 -3.143 -3zm8.983 0c-1.18 -.02 -2.385 1.096 -3.126 3h3.143a1.5 1.5 0 1 0 -.017 -3z"
                      ></path>
                    </svg>
                    <div class="">
                      Trợ giá thu cũ lên đời<strong> đến 1 triệu</strong>
                    </div>
                  </div>
                  <div class="w-full flex gap-2 items-center">
                    <svg
                      stroke="currentColor"
                      fill="currentColor"
                      stroke-width="0"
                      viewBox="0 0 24 24"
                      class="main-text-color text-2xl shrink-0"
                      height="1em"
                      width="1em"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M11 14v8h-4a3 3 0 0 1 -3 -3v-4a1 1 0 0 1 1 -1h6zm8 0a1 1 0 0 1 1 1v4a3 3 0 0 1 -3 3h-4v-8h6zm-2.5 -12a3.5 3.5 0 0 1 3.163 5h.337a2 2 0 0 1 2 2v1a2 2 0 0 1 -2 2h-7v-5h-2v5h-7a2 2 0 0 1 -2 -2v-1a2 2 0 0 1 2 -2h.337a3.486 3.486 0 0 1 -.337 -1.5c0 -1.933 1.567 -3.5 3.483 -3.5c1.755 -.03 3.312 1.092 4.381 2.934l.136 .243c1.033 -1.914 2.56 -3.114 4.291 -3.175l.209 -.002zm-9 2a1.5 1.5 0 0 0 0 3h3.143c-.741 -1.905 -1.949 -3.02 -3.143 -3zm8.983 0c-1.18 -.02 -2.385 1.096 -3.126 3h3.143a1.5 1.5 0 1 0 -.017 -3z"
                      ></path>
                    </svg>
                    <div class="">
                      Thăng hạng nhận voucher<strong> đến 300.000đ</strong>
                    </div>
                  </div>
                  <div class="w-full flex gap-2 items-center">
                    <svg
                      stroke="currentColor"
                      fill="currentColor"
                      stroke-width="0"
                      viewBox="0 0 24 24"
                      class="main-text-color text-2xl shrink-0"
                      height="1em"
                      width="1em"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M11 14v8h-4a3 3 0 0 1 -3 -3v-4a1 1 0 0 1 1 -1h6zm8 0a1 1 0 0 1 1 1v4a3 3 0 0 1 -3 3h-4v-8h6zm-2.5 -12a3.5 3.5 0 0 1 3.163 5h.337a2 2 0 0 1 2 2v1a2 2 0 0 1 -2 2h-7v-5h-2v5h-7a2 2 0 0 1 -2 -2v-1a2 2 0 0 1 2 -2h.337a3.486 3.486 0 0 1 -.337 -1.5c0 -1.933 1.567 -3.5 3.483 -3.5c1.755 -.03 3.312 1.092 4.381 2.934l.136 .243c1.033 -1.914 2.56 -3.114 4.291 -3.175l.209 -.002zm-9 2a1.5 1.5 0 0 0 0 3h3.143c-.741 -1.905 -1.949 -3.02 -3.143 -3zm8.983 0c-1.18 -.02 -2.385 1.096 -3.126 3h3.143a1.5 1.5 0 1 0 -.017 -3z"
                      ></path>
                    </svg>
                    <div class="">
                      Đặc quyền S-Student/S-Teacher<strong>
                        ưu đãi thêm đến 10%</strong
                      >
                    </div>
                  </div>
                </div>
                <a
                  class="md:flex md:items-center md:justify-center md:gap-2 md:cursor-pointer md:disabled:cursor-not-allowed md:border md:px-4 md:py-1 md:min-h-10 md:rounded-sm md:border-pure-white md:main-text-color md:bg-pure-white md:disabled:border-pure-white md:disabled:text-black-300 md:disabled:bg-pure-white w-full bg-transparent hover:bg-transparent border-transparent hover:border-transparent pb-0 flex gap-2 items-center hover:underline text-sm md:text-base"
                  data-slot="button"
                  href="#"
                  ><span class="main-text-color font-medium"
                    >Xem chi tiết chính sách ưu đãi Smember</span
                  >
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 512 512"
                    height="16"
                    width="16"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
            <img
              alt="Ant Promotion Smember"
              title="Ant Promotion Smember"
              loading="eager"
              width="660"
              height="476"
              decoding="async"
              data-nimg="1"
              class="object-contain max-w-125 mx-auto w-full -mt-10 md:-mt-12.5 z-1 relative select-none pointer-events-none"
              src="https://cdn-static.smember.com.vn/_next/static/media/smember-promotion-ant.a7833c47.png"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="hidden md:block flex-4 min-h-screen pxl py-4xl justify-center">
      <div class="w-full flex justify-center">
        <div class="w-full h-full max-w-110 flex flex-col items-center pt-7.5">
          <div
            class="w-full flex flex-col gap-4 md:gap-2xl justify-between items-center"
          >
            <div class="w-full flex flex-col gap-4 md:gap-2xl">
              <h1
                class="hidden md:block text-3xl lg:text-4xl text-center main-text-color font-bold"
              >
                Đăng nhập SMEMBER
              </h1>
              <form class="w-full flex flex-col gap-4 md:gap-1xl">
                <div class="md:flex md:gap-2 md:group md:flex-col">
                  <label
                    data-slot="label"
                    class="md:flex md:items-center md:gap-2 md:font-medium md:select-none md:group-data-[disabled=true]:pointer-events-none md:group-data-[disabled=true]:opacity-50 md:peer-data-[disabled=true]:cursor-not-allowed md:peer-data-[disabled=true]:opacity-50 md:text-base"
                    >Số điện thoại
                  </label>
                  <div class="md:flex md:flex-col md:gap-2 md:peer">
                    <div
                      class="md:p-1 rounded-lg md:flex md:items-center md:gap-2 md:min-w-0 md:border md:transition-colors md:data-[disabled=true]:bg-neutral-100 md:data-[disabled=true]:cursor-not-allowed md:border-neutral-300 md:focus-within:border-neutral-600 md:data-[disabled=true]:border-neutral-200 md:text-base md:min-h-12 md:rounded-lg md:pl-medium"
                    >
                      <input
                        data-slot="input"
                        class="md:w-full md:h-full md:bg-transparent rounded-lg md:border-none md:outline-none md:shadow-none md:ring-0 md:focus:outline-none md:focus:border-none md:focus:ring-0 md:focus-visible:outline-none md:focus-visible:border-none md:focus-visible:ring-0 md:placeholder:text-neutral-300 md:placeholder:select-none md:disabled:opacity-80 md:disabled:cursor-not-allowed md:disabled:text-neutral-500 md:disabled:placeholder:text-neutral-400 md:overflow-hidden md:text-ellipsis md:whitespace-nowrap"
                        placeholder="Nhập số điện thoại của bạn"
                        maxlength="10"
                        value=""
                      />
                    </div>
                  </div>
                </div>
                <div class="md:flex md:gap-2 md:group md:flex-col">
                  <label
                    data-slot="label"
                    class="md:flex md:items-center md:gap-2 md:font-medium md:select-none md:group-data-[disabled=true]:pointer-events-none md:group-data-[disabled=true]:opacity-50 md:peer-data-[disabled=true]:cursor-not-allowed md:peer-data-[disabled=true]:opacity-50 md:text-base"
                    >Mật khẩu
                  </label>
                  <div class="md:flex md:flex-col md:gap-2 md:peer">
                    <div
                      class="md:p-1 rounded-lg md:flex md:items-center md:gap-2 md:min-w-0 md:border md:transition-colors md:data-[disabled=true]:bg-neutral-100 md:data-[disabled=true]:cursor-not-allowed md:border-neutral-300 md:focus-within:border-neutral-600 md:data-[disabled=true]:border-neutral-200 md:text-base md:min-h-12 md:rounded-lg md:pl-medium"
                    >
                      <input
                        data-slot="input"
                        class="md:w-full md:h-full md:bg-transparent md:border-none md:outline-none md:shadow-none md:ring-0 md:focus:outline-none md:focus:border-none md:focus:ring-0 md:focus-visible:outline-none md:focus-visible:border-none md:focus-visible:ring-0 md:placeholder:text-neutral-300 md:placeholder:select-none md:disabled:opacity-80 md:disabled:cursor-not-allowed md:disabled:text-neutral-500 md:disabled:placeholder:text-neutral-400 md:overflow-hidden md:text-ellipsis md:whitespace-nowrap md:[&amp;::-ms-reveal]:hidden md:[&amp;::-ms-clear]:hidden md:appearance-none md:-webkit-appearance-none"
                        autocomplete="off"
                        spellcheck="false"
                        placeholder="Nhập mật khẩu của bạn"
                        type="password"
                        value=""
                      />
                      <button
                        type="button"
                        tabindex="-1"
                        class="md:flex md:cursor-pointer md:items-center md:justify-center md:rounded-full md:bg-neutral-200 md:text-neutral-600 md:hover:bg-neutral-300 md:focus:outline-none md:transition-colors md:w-5 md:h-5 md:shrink-0"
                        aria-label="Show password"
                      >
                        <svg
                          stroke="currentColor"
                          fill="currentColor"
                          stroke-width="0"
                          viewBox="0 0 576 512"
                          height="0.8em"
                          width="0.8em"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"
                          ></path>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
                <div
                  class="w-full text-xs p-1 border border-info bg-text-experience rounded-lg text-neutral-800"
                >
                  Trải nghiệm đăng nhập liền mạch giữa CellphoneS và Điện Thoại
                  Vui, ưu tiên dùng tài khoản CellphoneS (nếu có)
                </div>
                <div class="w-full">
                  <button
                    data-slot="button"
                    class="md:flex btn main-color text-white md:items-center md:justify-center md:gap-2 md:cursor-pointer md:disabled:cursor-not-allowed md:border-none hover:bg-red-800 md:text-medium md:px-4 md:py-1 md:min-h-12 md:rounded-lg md:border-primary-500 md:bg-primary-500 md:text-pure-white md:hover:border-primary-700 md:hover:bg-primary-700 md:disabled:text-black-300 md:disabled:bg-neutral-200 md:disabled:border-neutral-200 font-medium w-full"
                    type="submit"
                  >
                    Đăng nhập</button
                  ><a
                    data-slot="button"
                    class="text-info md:flex md:items-center md:justify-center md:gap-2 md:cursor-pointer md:disabled:cursor-not-allowed md:border-none md:text-medium md:px-4 md:py-1 md:min-h-12 md:rounded-lg md:border-pure-white md:text-info-500 md:bg-pure-white md:hover:border-neutral-50 md:hover:bg-neutral-50 lg:hover:bg-white md:disabled:border-pure-white md:disabled:text-black-300 md:disabled:bg-pure-white font-medium w-full hover:bg-white hover:underline"
                    type="button"
                    href="/restore-password"
                    >Quên mật khẩu?</a
                  >
                </div>
              </form>
              <div
                class="w-full flex justify-between items-center gap-4 md:gap-1xl"
              >
                <div class="flex-1 h bg-neutral-200"></div>
                <div
                  class="text-center text-neutral-500 text-regular text-base md:text-medium shrink-0"
                >
                  Hoặc đăng nhập bằng
                </div>
                <div class="flex-1 h bg-neutral-200"></div>
              </div>
              <div
                class="w-full flex gap-4 md:gap-large justify-between items-center"
              >
                <button
                  data-slot="button"
                  class="md:flex md:items-center md:justify-center md:gap-2 rounded-lg md:cursor-pointer md:disabled:cursor-not-allowed md:border md:text-medium md:px-4 md:py-1 md:min-h-12 md:rounded-lg md:border-neutral-300 md:text-neutral-800 md:bg-pure-white md:hover:border-neutral-400 md:hover:bg-neutral-50 md:disabled:border-black-300 md:disabled:text-black-300 md:disabled:bg-pure-white flex-1 min-w-30"
                  type="button"
                >
                  <div
                    class="font-medium text-neutral-900 flex items-center gap-2"
                  >
                    <img
                      alt="Google"
                      title="Google"
                      loading="lazy"
                      width="25"
                      height="24"
                      decoding="async"
                      data-nimg="1"
                      class="object-contain"
                      src="https://cdn-static.smember.com.vn/_next/static/media/logo-google.b6f9570f.svg"
                    />Google
                  </div>
                </button>
                <div
                  class="w-1.75 h-1.75 rounded-2xl bg-neutral-200 shrink-0"
                ></div>
                <button
                  data-slot="button"
                  class="md:flex md:items-center md:justify-center rounded-lg md:gap-2 md:cursor-pointer md:disabled:cursor-not-allowed md:border md:text-medium md:px-4 md:py-1 md:min-h-12 md:rounded-lg md:border-neutral-300 md:text-neutral-800 md:bg-pure-white md:hover:border-neutral-400 md:hover:bg-neutral-50 md:disabled:border-black-300 md:disabled:text-black-300 md:disabled:bg-pure-white flex-1 min-w-30"
                  type="button"
                >
                  <div
                    class="font-medium text-neutral-900 flex items-center gap-2"
                  >
                    <img
                      alt="Google"
                      title="Google"
                      loading="lazy"
                      width="21"
                      height="20"
                      decoding="async"
                      data-nimg="1"
                      class="object-contain"
                      src="https://cdn-static.smember.com.vn/_next/static/media/logo-zalo.120d889f.svg"
                    />Zalo
                  </div>
                </button>
              </div>
            </div>
            <div class="w-full flex items-center justify-center mt-7.5">
              <span class="shrink-0 text-medium text-neutral-500"
                >Bạn chưa có tài khoản?</span
              ><a
                data-slot="button"
                class="main-text-color md:flex md:items-center md:justify-center md:gap-2 md:cursor-pointer md:disabled:cursor-not-allowed md:border md:text-medium md:px-4 md:py-1 md:min-h-12 md:rounded-lg md:border-pure-white md:main-text-color md:bg-pure-white md:hover:border-neutral-50 md:hover:bg-neutral-50 lg:hover:bg-white md:disabled:border-pure-white md:disabled:text-black-300 md:disabled:bg-pure-white font-medium px-1 lg:border-none hover:border-none hover:underline"
                type="button"
                href="/register"
                >Đăng ký ngay</a
              >
            </div>
            <div
              class="w-full flex items-center justify-center text-neutral-500 text-medium text-center"
            >
              <span
                >Mua sắm, sửa chữa tại <br /><a
                  class="main-text-color font-medium hover:underline"
                  routerLink="/home"
                  >cellphones.com.vn</a
                >
                và
                <a class="main-text-color font-medium hover:underline" href="#"
                  >dienthoaivui.com.vn</a
                ></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
