:host {
  display: block;
  width: 100%;
}

/* Hide scrollbar for tabs but keep functionality */
.overflow-x-auto {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
