@import "tailwindcss";

.main-color {
  background-color: #da152b;
}
.main-text-color {
  color: #da152b;
}
.button-bg {
  background-color: #e45464;
  cursor: pointer;
}
.button-bg:hover {
  background-color: #d02437;
}
.navbar-bg {
  background-color: #e45464;
}
.navbar-bg:hover {
  background-color: #d02437;
}
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
span {
  font-style: inherit;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: white;
}

html {
  scroll-behavior: smooth !important;
}

.banner-bg-color {
  background-color: #d7263a;
}
.slick-prev,
.slick-next {
  background: transparent !important;
  z-index: 10 !important;
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 20px !important;
}
.recommend-text {
  color: rgb(4, 41, 122);
}
.bg-recommend {
  background: url("https://cdn2.cellphones.com.vn/x/media/wysiwyg/Vertex.jpg")
    cover center center;
}
.percent {
  background: url(https://cdn2.cellphones.com.vn/x/media/wysiwyg/discount-badge-ui-2025.png)
    50% no-repeat;
  background-size: cover;
}
.percent-pay {
  background: url(https://cdn2.cellphones.com.vn/x/media/wysiwyg/zero-ins-badge-ui-2025.png)
    50% no-repeat;
  background-size: cover;
}
.sold-text {
  background-color: #ffb9bf;
}
.bg-recommend-text {
  color: #421d95;
  background-color: #efe9fe;
}
.favorite-text {
  color: #3b82f6;
}
.favorite-btn button {
  border: none;
}
.favorite-btn button svg #like {
  display: hidden;
}
.bg-text-experience {
  background-color: #ebf3fe;
}
.text-experience {
  color: #ebf3fe;
}
.font-input-file {
  font-family: Inter, Inter Fallback, Roboto, Arial, sans-serif;
}
@layer components {
  /* trạng thái bình thường của thumb */
  swiper-container.thumbs .swiper-slide img {
    @apply w-18.75 h-18.75 object-cover rounded-lg border border-gray-400 p-3;
  }

  /* thumb đang active -> đổi màu viền + ring */
  swiper-container.thumbs .swiper-slide-thumb-active img {
    @apply border-2 border-amber-500 ring-2 ring-amber-400;
  }
  swiper-container.thumbs .swiper-slide img {
    transition: box-shadow 0.15s, border-color 0.15s;
  }
}
.primary-bg {
  background-color: #f2f7ff;
}
.discount-bg {
  background: url("/assets/images/red-ribbon.png") 50% no-repeat;
}
.installment-bg {
  background: url("/assets/images/blue-ribbon.png") 50% no-repeat;
  color: #3b82f6;
}
swiper-container::part(button-prev),
swiper-container::part(button-next) {
  top: 50%; /* Đẩy nút xuống 50% chiều cao cha */
  transform: translateY(
    -50%
  ); /* Kéo ngược nút lên 50% chiều cao của chính nó để chính giữa tuyệt đối */
  margin-top: 0; /* Reset margin mặc định của Swiper nếu có */
  /* Style giao diện của bạn */
  width: 20px;
  height: 20px;
  padding: 20px;
  border-radius: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  background: white;
  color: black;
  font-weight: bold;
}
.modal-box {
  padding: 0px !important;
}

.skeleton {
  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

/* Các class hình dáng */
.skeleton-text {
  width: 100%;
  height: 20px;
  border-radius: 4px;
}
.skeleton-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.cls-1,
.cls-2,
.cls-3 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cls-1 {
  stroke-width: 1.66px;
}

.cls-2 {
  stroke-width: 1.66px;
}

.cls-3 {
  stroke-width: 1.8px;
}

/* From Uiverse.io by Satwinder04 */
.input-container {
  position: relative;
}

.input-container input[type="text"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #333;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}

.bg-gradient-peach {
  background: linear-gradient(#fff5f0, #f4c8d0);
}
.bg-snull {
  background: linear-gradient(
    131deg,
    #f6f1f1 -0.22%,
    #dfd8d8 45.23%,
    #c8bebe 90.68%
  );
}
