:host {
  display: block;
}

/* Custom scrollbar for sidebar */
aside {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #e5e7eb;
    border-radius: 4px;
  }
}
