<app-header-member-dashboard></app-header-member-dashboard>
<div class="min-h-screen bg-gray-200 font-sans ">
  <div class="hidden max-w-360 mx-auto md:block pt-3 pb-2 md:px-4 sm:px-6 lg:px-8">
    <div class="w-full px-1 md:px-0">
      <div
        class="bg-white w-full px-2 py-2 md:px-4 md:py-4 rounded-xl shadow mb-2 flex flex-col md:flex-row md:items-center gap-2 md:gap-4 justify-between ">
        <div class="flex gap-1 lg:gap-2 xl:gap-4 items-center">
          <a routerLink="/home"
            class="w-16.25 md:w-18 aspect-square rounded-full bg-gradient-peach flex items-center justify-center cursor-pointer">
            <img alt="avatar" title="avatar" loading="lazy" width="44" height="44" decoding="async" data-nimg="1"
              class="w-11 h-11 object-contain bg-gradient-peach"
              src="https://cdn-static.smember.com.vn/_next/static/media/avata-ant.b574f3e9.svg" />
          </a>
          <div class="flex flex-col gap-3 md:gap-2">
            <div class="text-base md:text-base lg:text-base font-bold">
              Võ Tấn Thành
            </div>
            <div class="text-xs font-regular text-neutral-500 gap-1 flex items-center">
              079*****84<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer" height="18" width="18"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M10.585 10.587a2 2 0 0 0 2.829 2.828"></path>
                <path
                  d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87">
                </path>
                <path d="M3 3l18 18"></path>
              </svg>
            </div>
            <div class="flex gap-2">
              <div class="text-xs font-bold rounded-full px-1 py-2 select-none shrink-0 bg-snull text-pure-black">
                S-NULL
              </div>
            </div>
            <div class="flex gap-2 items-center text-1 md:text-xs font-regular p-2 rounded-lg" style="
                background: linear-gradient(
                  90deg,
                  rgb(247, 247, 248) 0%,
                  rgb(255, 255, 255) 100.69%
                );
              ">
              <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                stroke-linejoin="round" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M12 12h3.5"></path>
                <path d="M12 7v5"></path>
              </svg>Cập nhật lại sau 01/01/2026
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-1 lg:gap-4 md:flex-1 max-w-100 md:max-w-150">
          <div class="flex gap-2 md:gap-4 justify-between">
            <div class="flex gap-2 md:gap-1 lg:gap-small xl:gap-4 items-center">
              <div class="hidden md:block w-0.75 rounded-full h-full bg-red-500 shrink-0"></div>
              <div
                class="w-8.5 h-8.5 lg:w-12 lg:h-12 shrink-0 rounded-full bg-gradient-peach flex items-center justify-center">
                <img alt="icon-cart" title="icon-cart" loading="lazy" width="28" height="26" decoding="async"
                  data-nimg="1" class="w-5 h-5 lg:w-6.5 lg:h-7 object-contain"
                  src="https://cdn-static.smember.com.vn/_next/static/media/cart-icon.3e4e1d83.svg"
                  style="color: transparent" />
              </div>
              <div>
                <div class="font-bold text-large md:text-1 lg:text-2">
                  0
                </div>
                <div class="text-1 text-ellipsis line-clamp-2 md:text-xs lg:text-base font-regular text-neutral-500">
                  Tổng số đơn hàng
                  <span class="hidden md:inline">đã mua</span>
                </div>
              </div>
            </div>
            <div class="flex gap-2 md:gap-1 lg:gap-small xl:gap-4 items-center">
              <div class="hidden md:block w-1 rounded-full h-full bg-red-500 shrink-0"></div>
              <div
                class="w-8.5 h-8.5 lg:w-12 shrink-0 lg:h-12 rounded-full bg-gradient-peach flex items-center justify-center">
                <img alt="icon-cart" title="icon-cart" loading="lazy" width="28" height="28" decoding="async"
                  data-nimg="1" class="w-5 h-5 lg:w-7 lg:h-7 object-contain"
                  src="https://cdn-static.smember.com.vn/_next/static/media/money-icon.3e6b67af.svg"
                  style="color: transparent" />
              </div>
              <div>
                <div class="font-bold text-large md:text-1 lg:text-2">
                  0đ
                </div>
                <div class="text-1 md:text-xs lg:text-base text-ellipsis line-clamp-2 font-regular text-neutral-500">
                  <span>Tổng tiền tích lũy
                    <span class="inline-block w-1 h-1 md:w-2 md:h-2 rounded-full bg-neutral-100"></span>
                    Từ 01/01/2024</span>
                </div>
                <div class="hidden md:block text-xs font-sans p-2 rounded-lg" style="
                    background: linear-gradient(
                      90deg,
                      rgb(247, 247, 248) 0%,
                      rgb(255, 255, 255) 100.69%
                    );
                  ">
                  Cần chi tiêu thêm <strong>3.000.000</strong> để lên hạng
                  <strong>S-NEW</strong>
                </div>
              </div>
            </div>
          </div>
          <div class="md:hidden text-1 font-regular px-1 py-2 rounded-lg" style="
              background: linear-gradient(
                90deg,
                rgb(247, 247, 248) 0%,
                rgb(255, 255, 255) 100.69%
              );
            ">
            Cần chi tiêu thêm <strong>3.000.000đ</strong> để lên hạng
            <strong>S-NEW</strong>
          </div>
          <div class="hidden rounded-lg p-2 md:flex gap-2 items-center text-xs font-regular" style="
              background: linear-gradient(
                90deg,
                rgb(247, 247, 248) 0%,
                rgb(255, 255, 255) 100.69%
              );
            ">
            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
              stroke-linejoin="round" class="text-base" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 21h-9a3 3 0 0 1 -3 -3v-1h10v2a2 2 0 0 0 4 0v-14a2 2 0 1 1 2 2h-2m2 -4h-11a3 3 0 0 0 -3 3v11">
              </path>
              <path d="M9 7l4 0"></path>
              <path d="M9 11l4 0"></path>
            </svg>Tổng tiền và số đơn hàng được tính chung từ CellphoneS và Điện
            Thoại Vui.
          </div>
        </div>
        <div class="">
          <div class="hidden md:flex flex-col items-end justify-center gap-1">
            <span class="text-xs lg:text-base font-regular">Bạn đang ở kênh thành viên</span>
            <div class="hidden md:flex gap-2 items-center">
              <a class="inline-block h-14 w-14" href="https://cellphones.com.vn"><img alt="icon-company"
                  title="icon-company" loading="lazy" width="56" height="56" decoding="async" data-nimg="1"
                  class="h-14 w-14 aspect-square object-contain rounded-base"
                  src="https://cdn-static.smember.com.vn/_next/static/media/cellphones-icon.1b92082f.svg"
                  style="color: transparent" /></a>
              <div class="max-w-44 flex flex-col gap-2">
                <div class="flex flex-col gap-2 peer w-44 text-base">
                  <input type="hidden" value="cellphones" />
                  <div aria-haspopup="dialog" data-slot="popover-trigger" data-state="closed"
                    class="flex flex-col gap-2 peer w-full">
                    <div
                      class="p-1 flex items-center gap-1 min-w-0 border transition-colors data-[disabled=true]:bg-neutral-100 data-[disabled=true]:cursor-not-allowed border-neutral-300 focus-within:border-neutral-600 data-[disabled=true]:border-neutral-200  rounded-small pl-medium text-base! py-2 h-8 min-h-8">
                      <input data-slot="input"
                        class="w-full h-full bg-transparent border-none outline-none shadow-none ring-0 focus:outline-none focus:border-none focus:ring-0 focus-visible:outline-none focus-visible:border-none focus-visible:ring-0 placeholder:text-neutral-300 placeholder:select-none disabled:opacity-80 disabled:cursor-not-allowed disabled:text-neutral-500 disabled:placeholder:text-neutral-400 overflow-hidden text-ellipsis whitespace-nowrap"
                        readonly="" placeholder="text" type="text" value="CellphoneS" />
                      <div class="flex items-center justify-center aspect-square">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                          class="text-large" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M256 294.1L383 167c9.4-9.4 24.6-9.4 33.9 0s9.3 24.6 0 34L273 345c-9.1 9.1-23.7 9.3-33.1.7L95 201.1c-4.7-4.7-7-10.9-7-17s2.3-12.3 7-17c9.4-9.4 24.6-9.4 33.9 0l127.1 127z">
                          </path>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="w-full pl-medium pr-1 py-3 text-xs font-medium text-primary-500 rounded-small flex gap-2 items-center bg-neutral-50"
                  href="https://cellphones.com.vn"><span>cellphones.com.vn</span><svg stroke="currentColor" fill="none"
                    stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="12"
                    width="12" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"></path>
                    <path d="M11 13l9 -9"></path>
                    <path d="M15 4h5v5"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full px-1 md:px-0">
      <div class="bg-white w-full px-1 py-2 md:px-2 md:py-4 rounded-xl shadow mb-2">
        <div class="w-full grid grid-cols-4 md:flex gap-1 md:gap-2 xl:gap-3 justify-start">
          <a class="relative flex flex-col md:flex-row items-center gap-1" href="/promotion">
            <div class="w-10 h-10 bg-neutral-50 rounded-full flex items-center justify-center">
              <img alt="Hạng thành viên" title="Hạng thành viên" loading="lazy" width="24" height="24" decoding="async"
                data-nimg="1" class="w-6 h-6 object-contain"
                src="https://cdn-static.smember.com.vn/_next/static/media/rank-icon.d0f44c06.svg"
                style="color: transparent" />
            </div>
            <div class="text-1 md:text-base font-medium text-center md:text-left">
              Hạng thành viên
            </div>
          </a><a class="relative flex flex-col md:flex-row items-center gap-1" href="/promotion">
            <div class="w-10 h-10 bg-neutral-50 rounded-full flex items-center justify-center">
              <img alt="Mã giảm giá" title="Mã giảm giá" loading="lazy" width="24" height="24" decoding="async"
                data-nimg="1" class="w-6 h-6 object-contain"
                src="https://cdn-static.smember.com.vn/_next/static/media/promotion-icon.99af272d.svg"
                style="color: transparent" />
            </div>
            <div class="text-1 md:text-base font-medium text-center md:text-left">
              Mã giảm giá
            </div>
            <span
              class="flex items-center justify-center min-w-4 min-h-3.5 px-1 py-0.5 text-[10px] font-bold leading-none text-white rounded-full bg-red-500 z-10 border-2 border-white absolute top-[2%] left-1/2 md:static md:ml-1 md:border-0">1</span>
          </a><a class="relative flex flex-col md:flex-row items-center gap-1" href="/order">
            <div class="w-10 h-10 bg-neutral-50 rounded-full flex items-center justify-center">
              <img alt="Lịch sử mua hàng" title="Lịch sử mua hàng" loading="lazy" width="24" height="24"
                decoding="async" data-nimg="1" class="w-6 h-6 object-contain"
                src="https://cdn-static.smember.com.vn/_next/static/media/history-icon.2ebe1813.svg"
                style="color: transparent" />
            </div>
            <div class="text-1 md:text-base font-medium text-center md:text-left">
              Lịch sử mua hàng
            </div>
          </a><a class="relative flex flex-col md:flex-row items-center gap-1" href="/user-info">
            <div class="w-10 h-10 bg-neutral-50 rounded-full flex items-center justify-center">
              <img alt="Sổ địa chỉ" title="Sổ địa chỉ" loading="lazy" width="24" height="24" decoding="async"
                data-nimg="1" class="w-6 h-6 object-contain"
                src="https://cdn-static.smember.com.vn/_next/static/media/address-icon.169a4d95.svg"
                style="color: transparent" />
            </div>
            <div class="text-1 md:text-base font-medium text-center md:text-left">
              Sổ địa chỉ
            </div>
          </a><a class="relative flex flex-col md:flex-row items-center gap-1" href="/promotion/s-edu">
            <div class="w-10 h-10 bg-neutral-50 rounded-full flex items-center justify-center">
              <img alt="S-Student &amp; S-Teacher" title="S-Student &amp; S-Teacher" loading="lazy" width="24"
                height="24" decoding="async" data-nimg="1" class="w-6 h-6 object-contain"
                src="https://cdn-static.smember.com.vn/_next/static/media/edu-icon.76bd96ea.svg"
                style="color: transparent" />
            </div>
            <div class="text-1 md:text-base font-medium text-center md:text-left">
              S-Student &amp; S-Teacher
            </div>
          </a><a class="relative flex flex-col md:flex-row items-center gap-1" href="/user-info">
            <div class="w-10 h-10 bg-neutral-50 rounded-full flex items-center justify-center">
              <img alt="Liên kết tài khoản" title="Liên kết tài khoản" loading="lazy" width="24" height="24"
                decoding="async" data-nimg="1" class="w-6 h-6 object-contain"
                src="https://cdn-static.smember.com.vn/_next/static/media/link-icon.1de266bc.svg"
                style="color: transparent" />
            </div>
            <div class="text-1 md:text-base font-medium text-center md:text-left">
              Liên kết tài khoản
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Content Grid -->
  <app-member-tabs></app-member-tabs>
</div>