<div class="min-h-screen w-full text-black">
    <div class="w-full px-1 py-[20px] md:px-[20px] md:py-[40px]">
        <div class="w-full max-w-[800px] mx-auto flex flex-col justify-center items-center gap-[16px]">
            <h1 class="text-base md:text-3x-large lg:text-[40px] text-center main-text-color font-medium">
                Đăng ký trở thành SMEMBER</h1><img alt="Register Ant" title="Register Ant" loading="lazy" width="300"
                height="300" decoding="async" data-nimg="1"
                class="w-[112px] h-[112px] md:w-[180px] md:h-[180px] object-contain"
                src="https://cdn-static.smember.com.vn/_next/static/media/register-ant.b75b959d.png"
                style="color: transparent;"><span class="font-regular text-base md:text-medium text-neutral-500">Đăng ký
                bằng tài khoản mạng xã
                hội</span>
            <div class="w-full flex gap-[16px] md:gap-large justify-between items-center max-w-[450px]"><button
                    data-slot="button"
                    class="rounded-lg md:flex md:items-center md:justify-center md:gap-2 md:cursor-pointer md:disabled:cursor-not-allowed md:border  md:text-medium md:px-medium md:py-1 md:min-h-[48px] md:rounded-base md:border-neutral-300 md:text-neutral-800 md:bg-white md:hover:border-neutral-400 md:hover:bg-neutral-50 md:disabled:border-black-300 md:disabled:text-black-300 md:disabled:bg-white flex-1 min-w-[120px]"
                    type="button">
                    <div class="font-medium  text-neutral-900 flex items-center gap-2"><img alt="Google" title="Google"
                            loading="lazy" width="25" height="24" decoding="async" data-nimg="1" class="object-contain"
                            src="https://cdn-static.smember.com.vn/_next/static/media/logo-google.b6f9570f.svg"
                            style="color: transparent;">Google</div>
                </button>
                <div class="w-[7px] h-[7px] rounded-full bg-neutral-200 flex-shrink-0"></div><button data-slot="button"
                    class="rounded-lg md:flex md:items-center md:justify-center md:gap-2 md:cursor-pointer md:disabled:cursor-not-allowed md:border  md:text-medium md:px-medium md:py-1 md:min-h-[48px] md:rounded-base md:border-neutral-300 md:text-neutral-800 md:bg-white md:hover:border-neutral-400 md:hover:bg-neutral-50 md:disabled:border-black-300 md:disabled:text-black-300 md:disabled:bg-white flex-1 min-w-[120px]"
                    type="button">
                    <div class="font-medium  text-neutral-900 flex items-center gap-2"><img alt="Google" title="Google"
                            loading="lazy" width="21" height="20" decoding="async" data-nimg="1" class="object-contain"
                            src="https://cdn-static.smember.com.vn/_next/static/media/logo-zalo.120d889f.svg"
                            style="color: transparent;">Zalo</div>
                </button>
            </div><span class="font-regular text-base md:text-medium text-neutral-500">Hoặc điền thông tin
                sau</span>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="w-full flex flex-col gap-[16px] relative">
                <h2 class="font-bold text-medium md:text-large">Thông tin cá nhân</h2>
                <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-[16px] items-stretch">
                    <div class="md:flex md:gap-2  md:flex-col"><label data-slot="label"
                            class="md:flex md:items-center md:gap-2 md:font-medium md:select-none md:peer-data-[disabled=true]:cursor-not-allowed md:peer-data-[disabled=true]:opacity-50 md:text-base">Họ
                            và tên </label>
                        <div class="md:flex md:flex-col md:gap-2 md:peer">
                            <div
                                class="rounded-lg md:p-1 md:flex md:items-center md:gap-1 md:min-w-0 md:border md:transition-colors md:data-[disabled=true]:bg-neutral-100 md:data-[disabled=true]:cursor-not-allowed md:border-neutral-300 md:focus-within:border-neutral-600 md:data-[disabled=true]:border-neutral-200 md:text-base md:min-h-[48px] md:rounded-base md:pl-medium">
                                <input data-slot="input"
                                    class="md:w-full md:h-full md:bg-transparent md:border-none md:outline-none md:shadow-none md:ring-0 md:focus:outline-none md:focus:border-none md:focus:ring-0 md:focus-visible:outline-none md:focus-visible:border-none md:focus-visible:ring-0 md:placeholder:text-neutral-300 md:placeholder:select-none md:disabled:opacity-80 md:disabled:cursor-not-allowed md:disabled:text-neutral-500 md:disabled:placeholder:text-neutral-400 md:overflow-hidden md:text-ellipsis md:whitespace-nowrap"
                                    placeholder="Nhập họ và tên" maxlength="255" value="" name="name">
                            </div>
                        </div>
                    </div>
                    <div class="md:flex md:gap-2  md:flex-col"><label data-slot="label"
                            class="md:flex md:items-center md:gap-2 md:font-medium md:select-none  md:peer-data-[disabled=true]:cursor-not-allowed md:peer-data-[disabled=true]:opacity-50 md:text-base">Ngày
                            sinh </label>
                        <div class="md:flex md:flex-col md:gap-2 md:peer">
                            <div
                                class="rounded-lg md:p-1 md:flex md:items-center md:gap-1 md:min-w-0 md:border md:transition-colors md:data-[disabled=true]:bg-neutral-100 md:data-[disabled=true]:cursor-not-allowed md:border-neutral-300 md:focus-within:border-neutral-600 md:data-[disabled=true]:border-neutral-200 md:text-base md:min-h-[48px] md:rounded-base md:pl-medium">
                                <input data-slot="input" formControlName="birthday"
                                    class="rounded-lg md:w-full md:h-full md:bg-transparent md:border-none md:outline-none md:shadow-none md:ring-0 md:focus:outline-none md:focus:border-none md:focus:ring-0 md:focus-visible:outline-none md:focus-visible:border-none md:focus-visible:ring-0 md:placeholder:text-neutral-300 md:placeholder:select-none md:disabled:opacity-80 md:disabled:cursor-not-allowed md:disabled:text-neutral-500 md:disabled:placeholder:text-neutral-400 md:overflow-hidden md:text-ellipsis md:whitespace-nowrap"
                                    placeholder="dd/mm/yyyy" min="1900-01-01" max="2999-12-31" lang="vi-VN" type="text"
                                    value="" name="birthday">
                                <div *ngIf="f['birthday'].touched && f['birthday'].errors"
                                    class="text-red-500 text-sm mt-1">
                                    <span *ngIf="f['birthday'].errors['required']">Ngày sinh là bắt buộc</span>
                                </div>
                                <div class="md:flex md:items-center md:justify-center md:aspect-square ">
                                    <div class="md:flex md:items-center md:justify-center md:select-none md:cursor-pointer md:rounded-base md:hover:bg-neutral-100 md:h-[30px] md:w-[30px]"
                                        type="button" aria-haspopup="dialog" aria-controls="radix-«ro»"
                                        data-state="closed" data-slot="popover-trigger"><svg stroke="currentColor"
                                            fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                                            stroke-linejoin="round" class="md:text-neutral-600" height="20" width="20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8 2v4"></path>
                                            <path d="M16 2v4"></path>
                                            <rect width="18" height="18" x="3" y="4" rx="2"></rect>
                                            <path d="M3 10h18"></path>
                                        </svg></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md:flex md:gap-2  md:flex-col"><label data-slot="label"
                            class="md:flex md:items-center md:gap-2 md:font-medium md:select-none  md:peer-data-[disabled=true]:cursor-not-allowed md:peer-data-[disabled=true]:opacity-50 md:text-base">Số
                            điện thoại </label>
                        <div class="md:flex md:flex-col md:gap-2 md:peer">
                            <div
                                class="rounded-lg md:p-1 md:flex md:items-center md:gap-1 md:min-w-0 md:border md:transition-colors md:data-[disabled=true]:bg-neutral-100 md:data-[disabled=true]:cursor-not-allowed md:border-neutral-300 md:focus-within:border-neutral-600 md:data-[disabled=true]:border-neutral-200 md:text-base md:min-h-[48px] md:rounded-base md:pl-medium">
                                <input data-slot="input" formControlName="phone"
                                    class="rounded-lg md:w-full md:h-full md:bg-transparent md:border-none md:outline-none md:shadow-none md:ring-0 md:focus:outline-none md:focus:border-none md:focus:ring-0 md:focus-visible:outline-none md:focus-visible:border-none md:focus-visible:ring-0 md:placeholder:text-neutral-300 md:placeholder:select-none md:disabled:opacity-80 md:disabled:cursor-not-allowed md:disabled:text-neutral-500 md:disabled:placeholder:text-neutral-400 md:overflow-hidden md:text-ellipsis md:whitespace-nowrap"
                                    placeholder="Nhập số điện thoại" maxlength="10" value="" name="phone">
                                <div *ngIf="f['phone'].touched && f['phone'].errors" class="text-red-500 text-sm mt-1">
                                    <span *ngIf="f['phone'].errors['required']">Số điện thoại là bắt buộc</span>
                                    <span *ngIf="f['phone'].errors['pattern']">Số điện thoại phải có 10 chữ số</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md:flex md:gap-2  md:flex-col"><label data-slot="label"
                            class="md:flex md:items-center md:gap-2 md:font-medium md:select-none  md:peer-data-[disabled=true]:cursor-not-allowed md:peer-data-[disabled=true]:opacity-50 md:text-base"><span>Email
                                <span class="text-sm font-regular text-neutral-400">(Không bắt buộc)</span></span>
                        </label>
                        <div class="md:flex md:flex-col md:gap-2 md:peer">
                            <div
                                class="rounded-lg md:p-1 md:flex md:items-center md:gap-1 md:min-w-0 md:border md:transition-colors md:data-[disabled=true]:bg-neutral-100 md:data-[disabled=true]:cursor-not-allowed md:border-neutral-300 md:focus-within:border-neutral-600 md:data-[disabled=true]:border-neutral-200 md:text-base md:min-h-[48px] md:rounded-base md:pl-medium">
                                <input data-slot="input" formControlName="email"
                                    class="rounded-lg md:w-full md:h-full md:bg-transparent md:border-none md:outline-none md:shadow-none md:ring-0 md:focus:outline-none md:focus:border-none md:focus:ring-0 md:focus-visible:outline-none md:focus-visible:border-none md:focus-visible:ring-0 md:placeholder:text-neutral-300 md:placeholder:select-none md:disabled:opacity-80 md:disabled:cursor-not-allowed md:disabled:text-neutral-500 md:disabled:placeholder:text-neutral-400 md:overflow-hidden md:text-ellipsis md:whitespace-nowrap"
                                    placeholder="Nhập email" maxlength="255" value="" name="email">
                                <div *ngIf="f['email'].touched && f['email'].errors" class="text-red-500 text-sm mt-1">
                                    <span *ngIf="f['email'].errors['required']">Email là bắt buộc</span>
                                    <span *ngIf="f['email'].errors['email']">Email không hợp lệ</span>
                                </div>
                            </div>
                            <div class="md:flex md:items-center md:gap-2 md:text-green-700 md:text-sm">
                                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512"
                                    class="md:shrink-0" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z">
                                    </path>
                                </svg>Hóa đơn VAT khi mua hàng sẽ được gửi qua email này
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="font-bold text-medium md:text-large">Tạo mật khẩu</h2>
                <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-[16px] items-stretch">
                    <div class="md:flex md:gap-2  md:flex-col"><label data-slot="label"
                            class="md:flex md:items-center md:gap-2 md:font-medium md:select-none  md:peer-data-[disabled=true]:cursor-not-allowed md:peer-data-[disabled=true]:opacity-50 md:text-base">Mật
                            khẩu </label>
                        <div class="md:flex md:flex-col md:gap-2 md:peer">
                            <div
                                class="rounded-lg md:p-1 md:flex md:items-center md:gap-1 md:min-w-0 md:border md:transition-colors md:data-[disabled=true]:bg-neutral-100 md:data-[disabled=true]:cursor-not-allowed md:border-neutral-300 md:focus-within:border-neutral-600 md:data-[disabled=true]:border-neutral-200 md:text-base md:min-h-[48px] md:rounded-base md:pl-medium">
                                <input data-slot="  input" formControlName="password"
                                    class="rounded-lg md:w-full md:h-full md:bg-transparent md:border-none md:outline-none md:shadow-none md:ring-0 md:focus:outline-none md:focus:border-none md:focus:ring-0 md:focus-visible:outline-none md:focus-visible:border-none md:focus-visible:ring-0 md:placeholder:text-neutral-300 md:placeholder:select-none md:disabled:opacity-80 md:disabled:cursor-not-allowed md:disabled:text-neutral-500 md:disabled:placeholder:text-neutral-400 md:overflow-hidden md:text-ellipsis md:whitespace-nowrap md:[&amp;::-ms-reveal]:hidden md:[&amp;::-ms-clear]:hidden md:appearance-none md:-webkit-appearance-none"
                                    autocomplete="off" autocapitalize="off" spellcheck="false"
                                    placeholder="Nhập mật khẩu của bạn" type="password" value="" name="password"><button
                                    type="button" tabindex="-1"
                                    class="md:flex md:cursor-pointer md:items-center md:justify-center md:rounded-full md:bg-neutral-200 md:text-neutral-600 md:hover:bg-neutral-300 md:focus:outline-none md:transition-colors md:w-[20px] md:h-[20px] md:flex-shrink-0"
                                    aria-label="Show password"><svg stroke="currentColor" fill="currentColor"
                                        stroke-width="0" viewBox="0 0 576 512" height="0.8em" width="0.8em"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z">
                                        </path>
                                    </svg></button>
                            </div>
                            <div class="md:flex md:items-center md:gap-2 md:text-neutral-600 md:text-sm">
                                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                                    class="md:shrink-0" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336l24 0 0-64-24 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l48 0c13.3 0 24 10.7 24 24l0 88 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-80 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z">
                                    </path>
                                </svg>Mật khẩu tối thiểu 6 ký tự, có ít nhất 1 chữ số và 1 số
                            </div>
                        </div>
                    </div>
                    <div class="md:flex md:gap-2  md:flex-col"><label data-slot="label"
                            class="md:flex md:items-center md:gap-2 md:font-medium md:select-none  md:peer-data-[disabled=true]:cursor-not-allowed md:peer-data-[disabled=true]:opacity-50 md:text-base">Nhập
                            lại mật khẩu </label>
                        <div class="md:flex md:flex-col md:gap-2 md:peer">
                            <div
                                class="rounded-lg md:p-1 md:flex md:items-center md:gap-1 md:min-w-0 md:border md:transition-colors md:data-[disabled=true]:bg-neutral-100 md:data-[disabled=true]:cursor-not-allowed md:border-neutral-300 md:focus-within:border-neutral-600 md:data-[disabled=true]:border-neutral-200 md:text-base md:min-h-[48px] md:rounded-base md:pl-medium">
                                <input data-slot="input"
                                    class="md:w-full md:h-full md:bg-transparent md:border-none md:outline-none md:shadow-none md:ring-0 md:focus:outline-none md:focus:border-none md:focus:ring-0 md:focus-visible:outline-none md:focus-visible:border-none md:focus-visible:ring-0 md:placeholder:text-neutral-300 md:placeholder:select-none md:disabled:opacity-80 md:disabled:cursor-not-allowed md:disabled:text-neutral-500 md:disabled:placeholder:text-neutral-400 md:overflow-hidden md:text-ellipsis md:whitespace-nowrap md:[&amp;::-ms-reveal]:hidden md:[&amp;::-ms-clear]:hidden md:appearance-none md:-webkit-appearance-none"
                                    autocomplete="off" autocapitalize="off" spellcheck="false"
                                    placeholder="Nhập lại mật khẩu của bạn" type="password" value=""
                                    name="confirmPassword" formControlName="confirmPassword"><button type="button"
                                    tabindex="-1"
                                    class="md:flex md:cursor-pointer md:items-center md:justify-center md:rounded-full md:bg-neutral-200 md:text-neutral-600 md:hover:bg-neutral-300 md:focus:outline-none md:transition-colors md:w-[20px] md:h-[20px] md:flex-shrink-0"
                                    aria-label="Show password"><svg stroke="currentColor" fill="currentColor"
                                        stroke-width="0" viewBox="0 0 576 512" height="0.8em" width="0.8em"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z">
                                        </path>
                                    </svg></button>
                            </div>
                            <div *ngIf="f['confirmPassword'].touched && f['confirmPassword'].errors"
                                class="text-red-500 text-sm mt-1">
                                <span *ngIf="f['confirmPassword'].errors['required']">Xác nhận mật khẩu là bắt
                                    buộc</span>
                                <span *ngIf="f['confirmPassword'].errors['mismatch']">Mật khẩu không khớp</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="w-full grid grid-cols-1 gap-[16px] items-stretch py-medium">
                    <div class="flex gap-1 items-center"><button type="button" role="checkbox" aria-checked="false"
                            data-state="unchecked" value="on" data-slot="checkbox"
                            class="md:font-bold md:block md:rounded-[4px] md:border md:border-neutral-300 md:bg-neutral-50 md:hover:border-blue-500 md:cursor-pointer md:disabled:border-neutral-100 md:disabled:bg-neutral-50 md:disabled:cursor-not-allowed md:w-[20px] md:h-[20px] md:data-[state=checked]:bg-blue-500 md:data-[state=checked]:border-blue-500 md:data-[state=checked]:md:text-pure-white md:hover:shadow-[0_0px_4px_rgba(59,130,246,0.7)] md:hover:disabled:border-neutral-300 md:disabled:data-[state=checked]:border-neutral-200  disabled:data-[state=checked]:border-neutral-100 md:disabled:data-[state=checked]:bg-neutral-50  md:disabled:data-[state=unchecked]:border-neutral-100 md:disabled:data-[state=unchecked]:bg-neutral-50 md:hover:disabled:shadow-none"
                            id="checkbox-promotionConsent"></button><input aria-hidden="true" tabindex="-1"
                            type="checkbox" value="on" name="promotionConsent" formControlName="promotionConsent"
                            style="transform: translateX(-100%); position: absolute; pointer-events: none; opacity: 0; margin: 0px; width: 20px; height: 20px;"><label
                            data-slot="label"
                            class="md:flex md:items-center md:gap-2 md:font-medium md:select-none  md:peer-data-[disabled=true]:cursor-not-allowed md:peer-data-[disabled=true]:opacity-50 md:text-base font-regular text-sm"
                            for="checkbox-promotionConsent">Đăng ký nhận tin khuyến mãi từ CellphoneS</label></div>
                    <div class="flex gap-1 items-center"><label data-slot="label"
                            class="md:flex md:items-center md:gap-2 md:font-medium md:select-none  md:peer-data-[disabled=true]:cursor-not-allowed md:peer-data-[disabled=true]:opacity-50 md:text-base font-regular !inline-block text-base">Bằng
                            việc Đăng ký, bạn đã đọc và đồng ý với <a class="font-semibold favorite-text" href="#">Điều
                                khoản sử dụng</a> và <a class="font-bold favorite-text"
                                href="https://cellphones.com.vn/tos?part=privacy-policy">Chính sách bảo mật của
                                CellphoneS</a>.</label></div>
                </div>
                <div class="w-full h-0 border-t-[1px]"
                    style="border-image: repeating-linear-gradient(90deg, rgb(207, 207, 211) 0px, rgb(207, 207, 211) 8px, transparent 8px, transparent 16px) 8 / 1 / 0 stretch;">
                </div>
                <div class="w-full py-medium flex flex-col gap-[16px]">
                    <div class="w-full">
                        <h2 class=" flex gap-1 items-center"><label data-slot="label"
                                class="md:flex md:items-center md:gap-2 md:font-medium md:select-none  md:peer-data-[disabled=true]:cursor-not-allowed md:peer-data-[disabled=true]:opacity-50 md:text-base font-bold text-medium md:text-large"
                                for="switch-isStudent">Tôi là Học sinh - sinh viên / Giáo viên - giảng
                                viên</label><button type="button" role="switch" aria-checked="true" data-state="checked"
                                value="on" data-slot="switch"
                                class="md:relative md:cursor-pointer md:disabled:cursor-not-allowed md:hover:disabled:after:hidden md:hover:after:rounded-full md:hover:after:content-[''] md:hover:after:absolute md:hover:after:inset-0 md:hover:after:bg-overlay-white-400 md:w-[40px] md:h-[24px] md:inline-flex md:shrink-0 md:items-center md:data-[state=checked]:bg-blue-500 md:data-[state=checked]:disabled:bg-blue-200 md:data-[state=unchecked]:bg-neutral-300 md:data-[state=unchecked]:disabled:bg-neutral-100 md:rounded-full md:border-none md:outline-none md:transition-all md:duration-200"
                                id="switch-isStudent" (click)="toggleStudentMode()" [attr.aria-checked]="isStudentMode"
                                [attr.data-state]="isStudentMode ? 'checked' : 'unchecked'"><span
                                    [attr.data-state]="isStudentMode ? 'checked' : 'unchecked'" data-slot="switch-thumb"
                                    class="md:block md:pointer-events-none md:bg-white md:rounded-full md:transition-transform md:duration-200 md:data-[state=checked]:translate-x-[calc(100%-5px)] md:data-[state=unchecked]:translate-x-[1px] md:size-[22px] md:z-10 md:data-[disabled=false]:shadow-[0_1px_4px_rgba(0,0,0,0.2)]"></span></button><input
                                aria-hidden="true" tabindex="-1" type="checkbox" value="on" name="isStudent" checked=""
                                style="transform: translateX(-100%); position: absolute; pointer-events: none; opacity: 0; margin: 0px; width: 40px; height: 24px;">
                        </h2>
                        <div
                            class="w-full mt-3 bg-neutral-50 p-2 text-sm font-regular flex items-center gap-2 rounded-small">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                class="text-base" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.75 3.75A3.75 3.75 0 0 1 7.5 0c1.455 0 3.436.901 4.5 3.11C13.064.901 15.044 0 16.5 0a3.75 3.75 0 0 1 3 6h1.75c.966 0 1.75.784 1.75 1.75v2.5c0 .698-.409 1.301-1 1.582v8.418A1.75 1.75 0 0 1 20.25 22H3.75A1.75 1.75 0 0 1 2 20.25v-8.418c-.591-.282-1-.884-1-1.582v-2.5C1 6.784 1.784 6 2.75 6H4.5a3.733 3.733 0 0 1-.75-2.25ZM20.5 12h-7.75v8.5h7.5a.25.25 0 0 0 .25-.25Zm-9.25 8.5V12H3.5v8.25c0 .138.112.25.25.25Zm10-10a.25.25 0 0 0 .25-.25v-2.5a.25.25 0 0 0-.25-.25h-8.5v3Zm-18.5 0h8.5v-3h-8.5a.25.25 0 0 0-.25.25v2.5c0 .138.112.25.25.25Zm16-6.75A2.25 2.25 0 0 0 16.5 1.5c-1.15 0-3.433 1.007-3.72 4.5h3.72a2.25 2.25 0 0 0 2.25-2.25ZM11.22 6c-.287-3.493-2.57-4.5-3.72-4.5a2.25 2.25 0 1 0 0 4.5Z">
                                </path>
                            </svg><span>Nhận thêm ưu đãi tới <span class="font-semibold">600k/sản phẩm</span></span>
                            <div class="text-info-500 font-semibold flex items-center gap-3 cursor-pointer select-none">
                                Xem chi tiết <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                    viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z">
                                    </path>
                                </svg></div>
                        </div>
                    </div>
                    <div class="w-full flex flex-col gap-[16px]">
                        <div role="radiogroup" aria-required="false" dir="ltr" data-slot="radio-group"
                            class="sm:flex-row md:flex-column lg:flex-column gap-2 md:gap-3" tabindex="0"
                            style="outline: none;">
                            <div class="flex items-center gap-1"><button type="button" role="radio" aria-checked="true"
                                    data-state="checked" value="student" data-slot="radio-group-item"
                                    class="md:aspect-square md:shrink-0 md:rounded-full md:border md:hover:border-info-500 md:data-[state=checked]:border-info-500 md:shadow-xs md:hover:shadow-[0_0px_4px_rgba(59,130,246,0.7)] md:data-[state=checked]:shadow-[0_0px_4px_rgba(59,130,246,0.7)] md:transition-[color,box-shadow] md:outline-none md:disabled:hover:shadow-none md:disabled:cursor-not-allowed md:disabled:border-neutral-300 md:disabled:bg-neutral-50 md:w-[20px] md:h-[20px]"
                                    id="radio-student" tabindex="-1" data-radix-collection-item=""><span
                                        data-state="checked" data-slot="radio-group-indicator"
                                        class="md:relative md:flex md:items-center md:justify-center"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-circle md:fill-info-500 md:stroke-none md:absolute md:top-1/2 md:left-1/2 md:-translate-x-1/2 md:-translate-y-1/2 md:w-[14px] md:h-[14px]">
                                            <circle cx="12" cy="12" r="10"></circle>
                                        </svg></span></button><input aria-hidden="true" tabindex="-1" type="radio"
                                    value="student" checked="" name="educationType" formControlName="educationType"
                                    style="transform: translateX(-100%); position: absolute; pointer-events: none; opacity: 0; margin: 0px; width: 20px; height: 20px;"><label
                                    data-slot="label"
                                    class="md:flex md:items-center md:gap-2 md:font-medium md:select-none md:peer-data-[disabled=true]:cursor-not-allowed md:peer-data-[disabled=true]:opacity-50 md:text-base font-medium text-medium"
                                    for="radio-student">Học sinh - sinh viên</label></div>
                            <div class="flex items-center gap-1">
                                <button type="button" role="radio" aria-checked="false" data-state="unchecked"
                                    value="teacher" data-slot="radio-group-item"
                                    class="md:aspect-square md:shrink-0 md:rounded-lg md:border md:hover:border-info-500 md:data-[state=checked]:border-info md:shadow-xs md:hover:shadow-[0_0px_4px_rgba(59,130,246,0.7)] md:data-[state=checked]:shadow-[0_0px_4px_rgba(59,130,246,0.7)] md:transition-[color,box-shadow] md:outline-none md:disabled:hover:shadow-none md:disabled:cursor-not-allowed md:disabled:border-neutral-300 md:disabled:bg-neutral-50 md:w-[20px] md:h-[20px]"
                                    id="radio-teacher" tabindex="-1" data-radix-collection-item=""></button>
                                <input aria-hidden="true" tabindex="-1" type="radio" value="teacher"
                                    name="educationType" formControlName="educationType"
                                    style="transform: translateX(-100%); position: absolute; pointer-events: none; opacity: 0; margin: 0px; width: 20px; height: 20px;"><label
                                    data-slot="label"
                                    class="md:flex md:items-center md:gap-2 md:font-medium md:select-none  md:peer-data-[disabled=true]:cursor-not-allowed md:peer-data-[disabled=true]:opacity-50 md:text-base font-medium text-medium"
                                    for="radio-teacher">Giáo viên - giảng viên</label>
                            </div>
                            <div class="flex items-center gap-1"><button type="button" role="radio" aria-checked="false"
                                    data-state="unchecked" value="freshman" data-slot="radio-group-item"
                                    class="md:aspect-square md:shrink-0 md:rounded-full md:border md:hover:border-info-500 md:data-[state=checked]:border-info-500 md:shadow-xs md:hover:shadow-[0_0px_4px_rgba(59,130,246,0.7)] md:data-[state=checked]:shadow-[0_0px_4px_rgba(59,130,246,0.7)] md:transition-[color,box-shadow] md:outline-none md:disabled:hover:shadow-none md:disabled:cursor-not-allowed md:disabled:border-neutral-300 md:disabled:bg-neutral-50 md:w-[20px] md:h-[20px]"
                                    id="radio-freshman" tabindex="-1" data-radix-collection-item=""></button><input
                                    aria-hidden="true" tabindex="-1" type="radio" value="freshman" name="educationType"
                                    formControlName="educationType"
                                    style="transform: translateX(-100%); position: absolute; pointer-events: none; opacity: 0; margin: 0px; width: 20px; height: 20px;"><label
                                    data-slot="label"
                                    class="md:flex md:items-center md:gap-2 md:font-medium md:select-none  md:peer-data-[disabled=true]:cursor-not-allowed md:peer-data-[disabled=true]:opacity-50 md:text-base font-medium text-medium"
                                    for="radio-freshman">Sĩ tử 2025</label></div>
                        </div>
                        <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-[16px] items-stretch">
                            <div class="md:flex md:gap-2  md:flex-col"><label data-slot="label"
                                    class="md:flex md:items-center md:gap-2 md:font-medium md:select-none  md:peer-data-[disabled=true]:cursor-not-allowed md:peer-data-[disabled=true]:opacity-50 md:text-base">Cấp
                                    học </label>
                                <div class="md:flex md:flex-col md:gap-2 md:peer"><input type="hidden" value=""
                                        name="educationLevel" formControlName="educationLevel">
                                    <div aria-controls="radix-«rg»" aria-haspopup="dialog" data-slot="popover-trigger"
                                        data-state="closed"
                                        class="md:flex md:flex-col flex-column md:gap-2 md:peer md:w-full">
                                        <div
                                            class="rounded-lg md:p-1 md:flex md:items-center md:gap-1 md:min-w-0 md:border md:transition-colors md:data-[disabled=true]:bg-neutral-100 md:data-[disabled=true]:cursor-not-allowed md:border-neutral-300 md:focus-within:border-neutral-600 md:data-[disabled=true]:border-neutral-200 md:text-base md:min-h-[48px] md:rounded-base md:pl-medium">
                                            <input data-slot="input"
                                                class="rounded-lg md:w-full md:h-full md:bg-transparent md:border-none md:outline-none md:shadow-none md:ring-0 md:focus:outline-none md:focus:border-none md:focus:ring-0 md:focus-visible:outline-none md:focus-visible:border-none md:focus-visible:ring-0 md:placeholder:text-neutral-300 md:placeholder:select-none md:disabled:opacity-80 md:disabled:cursor-not-allowed md:disabled:text-neutral-500 md:disabled:placeholder:text-neutral-400 md:overflow-hidden md:text-ellipsis md:whitespace-nowrap"
                                                placeholder="Chọn cấp học" readonly="" type="text" value="">
                                            <div class="md:flex md:items-center md:justify-center md:aspect-square ">
                                                <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                                    viewBox="0 0 512 512" class="md:text-large" height="1em" width="1em"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M256 294.1L383 167c9.4-9.4 24.6-9.4 33.9 0s9.3 24.6 0 34L273 345c-9.1 9.1-23.7 9.3-33.1.7L95 201.1c-4.7-4.7-7-10.9-7-17s2.3-12.3 7-17c9.4-9.4 24.6-9.4 33.9 0l127.1 127z">
                                                    </path>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="md:flex md:gap-2  md:flex-col"><label data-slot="label"
                                    class="md:flex md:items-center md:gap-2 md:font-medium md:select-none  md:peer-data-[disabled=true]:cursor-not-allowed md:peer-data-[disabled=true]:opacity-50 md:text-base">Tên
                                    trường </label>
                                <div class="md:flex md:flex-col md:gap-2 md:peer">
                                    <div
                                        class="rounded-lg md:p-1 md:flex md:items-center md:gap-1 md:min-w-0 md:border md:transition-colors md:data-[disabled=true]:bg-neutral-100 md:data-[disabled=true]:cursor-not-allowed md:border-neutral-300 md:focus-within:border-neutral-600 md:data-[disabled=true]:border-neutral-200 md:text-base md:min-h-[48px] md:rounded-base md:pl-medium">
                                        <input data-slot="input"
                                            class="rounded-lg md:w-full md:h-full md:bg-transparent md:border-none md:outline-none md:shadow-none md:ring-0 md:focus:outline-none md:focus:border-none md:focus:ring-0 md:focus-visible:outline-none md:focus-visible:border-none md:focus-visible:ring-0 md:placeholder:text-neutral-300 md:placeholder:select-none md:disabled:opacity-80 md:disabled:cursor-not-allowed md:disabled:text-neutral-500 md:disabled:placeholder:text-neutral-400 md:overflow-hidden md:text-ellipsis md:whitespace-nowrap"
                                            placeholder="Nhập tên trường" value="" name="schoolName"
                                            formControlName="schoolName">
                                    </div>
                                </div>
                            </div>
                            <div class="rounded-lg md:flex md:gap-2  md:flex-col"><label data-slot="label"
                                    class="md:flex md:items-center md:gap-2 md:font-medium md:select-none  md:peer-data-[disabled=true]:cursor-not-allowed md:peer-data-[disabled=true]:opacity-50 md:text-base">Mã
                                    học sinh/sinh viên </label>
                                <div class="md:flex md:flex-col md:gap-2 md:peer">
                                    <div
                                        class="rounded-lg md:p-1 md:flex md:items-center md:gap-1 md:min-w-0 md:border md:transition-colors md:data-[disabled=true]:bg-neutral-100 md:data-[disabled=true]:cursor-not-allowed md:border-neutral-300 md:focus-within:border-neutral-600 md:data-[disabled=true]:border-neutral-200 md:text-base md:min-h-[48px] md:rounded-base md:pl-medium">
                                        <input data-slot="input"
                                            class="rounded-lg md:w-full md:h-full md:bg-transparent md:border-none md:outline-none md:shadow-none md:ring-0 md:focus:outline-none md:focus:border-none md:focus:ring-0 md:focus-visible:outline-none md:focus-visible:border-none md:focus-visible:ring-0 md:placeholder:text-neutral-300 md:placeholder:select-none md:disabled:opacity-80 md:disabled:cursor-not-allowed md:disabled:text-neutral-500 md:disabled:placeholder:text-neutral-400 md:overflow-hidden md:text-ellipsis md:whitespace-nowrap"
                                            placeholder="Nhập mã học sinh/sinh viên" maxlength="30" value=""
                                            name="educationCode" formControlName="educationCode">
                                    </div>
                                </div>
                            </div>
                            <div class="md:flex md:gap-2  md:flex-col"><label data-slot="label"
                                    class="md:flex md:items-center md:gap-2 md:font-medium md:select-none  md:peer-data-[disabled=true]:cursor-not-allowed md:peer-data-[disabled=true]:opacity-50 md:text-base">Họ
                                    tên trên thẻ </label>
                                <div class="md:flex md:flex-col md:gap-2 md:peer">
                                    <div
                                        class="rounded-lg md:p-1 md:flex md:items-center md:gap-1 md:min-w-0 md:border md:transition-colors md:data-[disabled=true]:bg-neutral-100 md:data-[disabled=true]:cursor-not-allowed md:border-neutral-300 md:focus-within:border-neutral-600 md:data-[disabled=true]:border-neutral-200 md:text-base md:min-h-[48px] md:rounded-base md:pl-medium">
                                        <input data-slot="input"
                                            class="rounded-lg md:w-full md:h-full md:bg-transparent md:border-none md:outline-none md:shadow-none md:ring-0 md:focus:outline-none md:focus:border-none md:focus:ring-0 md:focus-visible:outline-none md:focus-visible:border-none md:focus-visible:ring-0 md:placeholder:text-neutral-300 md:placeholder:select-none md:disabled:opacity-80 md:disabled:cursor-not-allowed md:disabled:text-neutral-500 md:disabled:placeholder:text-neutral-400 md:overflow-hidden md:text-ellipsis md:whitespace-nowrap"
                                            placeholder="Nhập họ tên trên thẻ" value="" name="cardName"
                                            formControlName="cardName">
                                    </div>
                                </div>
                            </div>
                            <div class="md:flex md:gap-2  md:flex-col"><label data-slot="label"
                                    class="md:flex md:items-center md:gap-2 md:font-medium md:select-none  md:peer-data-[disabled=true]:cursor-not-allowed md:peer-data-[disabled=true]:opacity-50 md:text-base">Ngày
                                    hết hạn thẻ hoặc ra trường dự kiến </label>
                                <div class="md:flex md:flex-col md:gap-2 md:peer">
                                    <div
                                        class="rounded-lg md:p-1 md:flex md:items-center md:gap-1 md:min-w-0 md:border md:transition-colors md:data-[disabled=true]:bg-neutral-100 md:data-[disabled=true]:cursor-not-allowed md:border-neutral-300 md:focus-within:border-neutral-600 md:data-[disabled=true]:border-neutral-200 md:text-base md:min-h-[48px] md:rounded-base md:pl-medium">
                                        <input data-slot="input"
                                            class="rounded-lg md:w-full md:h-full md:bg-transparent md:border-none md:outline-none md:shadow-none md:ring-0 md:focus:outline-none md:focus:border-none md:focus:ring-0 md:focus-visible:outline-none md:focus-visible:border-none md:focus-visible:ring-0 md:placeholder:text-neutral-300 md:placeholder:select-none md:disabled:opacity-80 md:disabled:cursor-not-allowed md:disabled:text-neutral-500 md:disabled:placeholder:text-neutral-400 md:overflow-hidden md:text-ellipsis md:whitespace-nowrap"
                                            placeholder="dd/mm/yyyy" min="14/07/2025" max="14/07/2030" lang="vi-VN"
                                            type="text" value="" name="cardExpiryDate" formControlName="cardExpiryDate">
                                        <div class="md:flex md:items-center md:justify-center md:aspect-square ">
                                            <div class="md:flex md:items-center md:justify-center md:select-none md:cursor-pointer md:rounded-base md:hover:bg-neutral-100 md:h-[30px] md:w-[30px]"
                                                type="button" aria-haspopup="dialog" aria-controls="radix-«rp»"
                                                data-state="closed" data-slot="popover-trigger"><svg
                                                    stroke="currentColor" fill="none" stroke-width="2"
                                                    viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                                                    class="md:text-neutral-600" height="20" width="20"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M8 2v4"></path>
                                                    <path d="M16 2v4"></path>
                                                    <rect width="18" height="18" x="3" y="4" rx="2"></rect>
                                                    <path d="M3 10h18"></path>
                                                </svg></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="md:flex md:gap-2  md:flex-col"><label data-slot="label"
                                    class="md:flex md:items-center md:gap-2 md:font-medium md:select-none  md:peer-data-[disabled=true]:cursor-not-allowed md:peer-data-[disabled=true]:opacity-50 md:text-base"><span>Email
                                        trường <span class="text-sm font-regular text-neutral-400">(Không bắt
                                            buộc)</span></span> </label>
                                <div class="md:flex md:flex-col md:gap-2 md:peer">
                                    <div
                                        class="rounded-lg md:p-1 md:flex md:items-center md:gap-1 md:min-w-0 md:border md:transition-colors md:data-[disabled=true]:bg-neutral-100 md:data-[disabled=true]:cursor-not-allowed md:border-neutral-300 md:focus-within:border-neutral-600 md:data-[disabled=true]:border-neutral-200 md:text-base md:min-h-[48px] md:rounded-base md:pl-medium">
                                        <input data-slot="input"
                                            class="rounded-lg md:w-full md:h-full md:bg-transparent md:border-none md:outline-none md:shadow-none md:ring-0 md:focus:outline-none md:focus:border-none md:focus:ring-0 md:focus-visible:outline-none md:focus-visible:border-none md:focus-visible:ring-0 md:placeholder:text-neutral-300 md:placeholder:select-none md:disabled:opacity-80 md:disabled:cursor-not-allowed md:disabled:text-neutral-500 md:disabled:placeholder:text-neutral-400 md:overflow-hidden md:text-ellipsis md:whitespace-nowrap"
                                            placeholder="Nhập email trường" value="" name="schoolEmail"
                                            formControlName="schoolEmail">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-full">
                            <div class="w-full flex items-center justify-between">
                                <h2 class="font-bold text-medium md:text-large">Tải ảnh thẻ</h2>
                            </div><span class="text-sm md:text-sm font-medium text-neutral-500">Nếu thẻ sinh
                                viên không có niên khóa, vui lòng bổ sung thêm hình ảnh xác minh thời gian học</span>
                        </div>
                        <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-[16px] items-stretch">
                            <div class="w-full relative">
                                <div class="md:flex md:gap-2  md:flex-col"><label data-slot="label"
                                        class="md:flex md:items-center md:gap-2 md:font-medium md:select-none  md:peer-data-[disabled=true]:cursor-not-allowed md:peer-data-[disabled=true]:opacity-50 md:text-base">Mặt
                                        trước </label>
                                    <div class="md:flex md:flex-col md:gap-2 md:peer">
                                        <div role="presentation" tabindex="0"
                                            class="rounded-lg md:flex items-center md:cursor-pointer md:select-none md:justify-center md:font-medium md:min-w-0 md:border md:border-dashed md:transition-colors md:data-[disabled=true]:bg-neutral-100 md:data-[disabled=true]:cursor-not-allowed md:data-[disabled=true]:text-neutral-300 md:data-[dragging=true]:bg-neutral-100 md:data-[dragging=true]:border-primary-400 md:p-medium md:gap-[16px] md:flex-col md:border-neutral-300 md:focus-within:border-neutral-600 md:data-[disabled=true]:border-neutral-200 md:text-base md:rounded-base">
                                            <input (change)="onFileChange($event, 'frontCard')"
                                                accept="image/jpeg,.jpg,.jpeg,image/png,.png,image/webp,.webp,image/heic,.heic,image/heif,.heif,image/hevc,.hevc"
                                                tabindex="-1" type="file" aria-label="#"
                                                style="border: 0px; clip: rect(0px, 0px, 0px, 0px); clip-path: inset(50%); height: 1px; margin: 0px -1px -1px 0px; overflow: hidden; padding: 0px; position: absolute; width: 1px; white-space: nowrap;"><svg
                                                stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="md:flex-shrink-0 md:text-2x-large" height="1em" width="1em"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                                                <polyline points="17 8 12 3 7 8"></polyline>
                                                <line x1="12" y1="3" x2="12" y2="15"></line>
                                            </svg>
                                            <div class="md:flex md:flex-col md:items-center md:gap-1">
                                                <p>Kéo thả hoặc <span class="main-text-color">Chọn file</span>
                                                    tải lên</p>
                                                <p
                                                    class="md:text-xs md:font-regular md:text-center md:text-neutral-400">
                                                    <span><span class="md:font-medium">Định dạng:</span> <span>.JPG,
                                                            .JPEG, .PNG, .WEBP, .HEIC, .HEIF, .HEVC</span></span> - Tối
                                                    đa 10 MB
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full relative">
                                <div class="md:flex md:gap-2  md:flex-col"><label data-slot="label"
                                        class="md:flex md:items-center md:gap-2 md:font-medium md:select-none md:peer-data-[disabled=true]:cursor-not-allowed md:peer-data-[disabled=true]:opacity-50 md:text-base">Mặt
                                        sau </label>
                                    <div class="md:flex md:flex-col md:gap-2 md:peer">
                                        <div role="presentation" tabindex="0"
                                            class="rounded-lg md:flex md:items-center md:cursor-pointer md:select-none md:justify-center md:font-medium md:min-w-0 md:border md:border-dashed md:transition-colors md:data-[disabled=true]:bg-neutral-100 md:data-[disabled=true]:cursor-not-allowed md:data-[disabled=true]:text-neutral-300 md:data-[dragging=true]:bg-neutral-100 md:data-[dragging=true]:border-primary-400 md:p-medium md:gap-[16px] md:flex-col md:border-neutral-300 md:focus-within:border-neutral-600 md:data-[disabled=true]:border-neutral-200 md:text-base md:rounded-base">
                                            <input (change)="onFileChange($event, 'backCard')"
                                                accept="image/jpeg,.jpg,.jpeg,image/png,.png,image/webp,.webp,image/heic,.heic,image/heif,.heif,image/hevc,.hevc"
                                                tabindex="-1" type="file" aria-label="#"
                                                style="border: 0px; clip: rect(0px, 0px, 0px, 0px); clip-path: inset(50%); height: 1px; margin: 0px -1px -1px 0px; overflow: hidden; padding: 0px; position: absolute; width: 1px; white-space: nowrap;"><svg
                                                stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="md:flex-shrink-0 md:text-2x-large" height="1em" width="1em"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                                                <polyline points="17 8 12 3 7 8"></polyline>
                                                <line x1="12" y1="3" x2="12" y2="15"></line>
                                            </svg>
                                            <div class="md:flex md:flex-col md:items-center md:gap-1">
                                                <p>Kéo thả hoặc <span class="main-text-color">Chọn file</span>
                                                    tải lên</p>
                                                <p
                                                    class="md:text-sm md:font-regular md:text-center md:text-neutral-400">
                                                    <span><span class="md:font-medium">Định dạng:</span> <span>.JPG,
                                                            .JPEG, .PNG, .WEBP, .HEIC, .HEIF, .HEVC</span></span> - Tối
                                                    đa 10 MB
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="h-[40px]"></div>
                    </div>
                </div>
                <div
                    class="shadow-lg w-full z-10 box-content grid px-1 md:px-medium py-medium grid-cols-2 gap-[16px] sticky bottom-0 left-0 right-0 bg-white translate-x-[-8px] md:translate-x-[-16px]">
                    <a class="rounded-lg md:flex md:items-center md:justify-center md:gap-2 md:cursor-pointer md:disabled:cursor-not-allowed md:border  md:text-medium md:px-medium md:py-1 md:min-h-[48px] md:rounded-base md:border-neutral-300 md:text-neutral-800 md:bg-white md:hover:border-neutral-400 md:hover:bg-neutral-50 md:disabled:border-black-300 md:disabled:text-black-300 md:disabled:bg-white w-full px-0 md:px-medium font-medium flex gap-1 items-center"
                        data-slot="button" type="button"
                        href="/login?action=login&amp;client_id=cps&amp;redirect_uri=https%3A%2F%2Fcellphones.com.vn%2F&amp;response_type=authorization_code&amp;state=9sSK34XgAtGJIkDKJkOou05H5Y2MHOuBNBRHwUgn&amp;_gl=1*1ju325u*_gcl_au*MTY4MzU1NjY0NC4xNzUxODY5MTMx*_ga*NTExODcxNDIxLjE3NTE4NjkxMzE.*_ga_QLK8WFHNK9*czE3NTI0NzQxNTkkbzMwJGcxJHQxNzUyNDc1MDI3JGo1OCRsMCRoMjA3MTMyNzIyMw.."><svg
                            stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                            class="md:inline-block hidden" height="22" width="22" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M217.9 256L345 129c9.4-9.4 9.4-24.6 0-33.9-9.4-9.4-24.6-9.3-34 0L167 239c-9.1 9.1-9.3 23.7-.7 33.1L310.9 417c4.7 4.7 10.9 7 17 7s12.3-2.3 17-7c9.4-9.4 9.4-24.6 0-33.9L217.9 256z">
                            </path>
                        </svg> Quay lại đăng nhập</a><button data-slot="button"
                        class="rounded-lg md:flex md:items-center md:justify-center md:gap-2 md:cursor-pointer md:disabled:cursor-not-allowed md:border  md:text-medium md:px-medium md:py-1 md:min-h-[48px] md:rounded-base md:border-primary-500 md:bg-primary-500 md:text-pure-white md:hover:border-primary-700 md:hover:bg-primary-700 md:disabled:text-black-300 md:disabled:bg-neutral-200 md:disabled:border-neutral-200 w-full font-medium px-0 md:px-medium"
                        type="submit">Hoàn tất đăng ký</button>
                </div>
            </form>
        </div>
    </div>
</div>